{% extends 'base.html' %}
{% block content %}
    <div class="app-main__outer">
    <div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-calendar icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Attendance Dashboard
                    <div class="page-title-subheading">
                        <p id="date"></p>
                    </div>
                </div>
            </div>

            <div class="page-title-actions">
                <!-- <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button> -->
                <div class="d-inline-block">
                    <div class="input-group">
                        <input type="date" id="datetimepicker"   name="date">

                        <button type="button"  aria-expanded="false" class="btn-shadow  btn btn-info">

                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-calendar fa-w-20"></i>

                                            </span>
                            Change Date
                        </button></div>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-inbox"></i>
                                    <span>
                                                            Inbox
                                                        </span>
                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-book"></i>
                                    <span>
                                                            Book
                                                        </span>
                                    <div class="ml-auto badge badge-pill badge-danger">5</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-picture"></i>
                                    <span>
                                                            Picture
                                                        </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a disabled href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                                            File Disabled
                                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>    </div>
    </div>            <div class="row">
    <div class="col-md-3">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"><h5>Total Employees</h5></div>
                    <!-- <div class="widget-subheading">Last year expenses</div> -->
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{ count_employee }}</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"><h5>Arrived</h5></div>
                    <!-- <div class="widget-subheading">People Interested</div> -->
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{ count_present }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3 widget-content bg-love-kiss">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"><h5>Late</h5></div>
                    <!-- <div class="widget-subheading">People Interested</div> -->
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{ count_late }}</span></div>
                </div>
            </div>
        </div>
    </div>
  <div class="col-md-3">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"><h5></h5>Yet to Come</div>
                    <!-- <div class="widget-subheading">Total Clients Profit</div> -->
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{ yet_to_come}}</span></div>
                </div>
            </div>
        </div>
    </div>



</div>

    <div class="row">
    <div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-header">Active Users
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center">#ID</th>
                    <th>Name</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Time</th>
                </tr>
                </thead>
                <tbody>
                {% for user in employees %}
{#                    {{ user }}#}
                    <tr>
                        <td class="text-center text-muted">{{ user.user }}</td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    {#                                                            <div class="widget-content-left mr-3">#}
                                    {#                                                                <div class="widget-content-left">#}
                                    {#                                                                    <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">#}
                                    {#                                                                </div>#}
                                    {#                                                            </div>#}
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading">{{ user.user__first_name}} {{ " " }} {{ user.user__last_name}}</div>
                                        <div class="widget-subheading opacity-7">Web Developer</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">Madrid</td>
                        <td class="text-center">
                            {% if user.status == 'On Time' %}
                            <div class="badge badge-success">{{ user.status }}</div>
                            {% endif %}
                        {% if user.status == 'Late' %}
                            <div class="badge badge-warning">{{ user.status }}</div>
                            {% endif %}
                        {% if user.status == 'Absent' %}
                            <div class="badge badge-warning">{{ user.status }}</div>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody></table></div></div></div></div></div></div>
    </div>
    <script>
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        document.getElementById("date").innerHTML = d + " " + months[n.getMonth()] + " " + y;
    </script>
    {#                <script src="http://maps.google.com/maps/api/js?sensor=true"></script>#}
{% endblock %}
<script type="text/javascript" src="assets/scripts/main.js"></script></body>
</html>
